.parent-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}


.permission-error{
    color:red
}

.video-container{
    display:flex;
    gap: 2rem;
    justify-content: center;
    width: 90%;
    position: relative;
    margin-top: 1rem;

    .expanded-video{
        height: 80vh;
        width: 100%;
    }
    .shrinked-video{
        position: absolute;
        z-index: 2;
        bottom: 0.5rem;
        right: 0.5rem;
        max-width: 25%;
    }
    
}

@media screen and (max-width:700px){
    .video-container{
        display:flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
    }
}

.meeting-create-join-parent-container{
    padding: 1rem;
    margin: 1.5rem;
}


.start-meeting-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:0.5rem
}

.divider{
    height: 2px;
    background-color: #0b5ed7;
}

.join-meeting-container{
    display: flex;
    gap:20px
}

 ::ng-deep .p{
    display: inline !important;
}

.room-invite-code{
    padding-right: 1rem;
}


.copy-button:hover{
    transform: scale(1.2);
    // transition: ease 100ms;
}

.copy-button:active{
   transform: scale(1.0);
}


.meet-image{
    max-width: 400px;
    height: 50vh;
}

.meeting-action-buttons{
    display: flex;
    gap:4rem;
    font-size: 2rem;
    margin-top: 0.3rem;

    .red-button{
        color: red;
    }

}


.bi:hover{
    transform: scale(1.1);
    transition: all 200ms;
}

.bi:active{
    transform: scale(1.0);
}