<div class="parent-container">
    <h1 class="h1"><i class="bi bi-camera-video-fill"></i> Connect-X</h1>
    <h3 *ngIf="permissionError" class="permission-error">Grant Camera and Mic Permission </h3>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="meetingEndedByPeer">
        Meeting was ended by other person!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="invalidMeetingRoom">
      Invite Code Doesnt Exist!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="video-appChat-parent-container">
    <div class="video-container" *ngIf="!meetingEndedByPeer">
  
        <app-video [mediaStream]="localStream" [local]="true" *ngIf="localStream" [isMicOn]="isMicOn" [isCameraOn]="isCameraOn" (click)="expandVideo('local')"  [ngClass]="{'expanded-video':isSelectedVideo=='local','shrinked-video':isSelectedVideo=='remote'}"></app-video>

        <app-video [mediaStream]="remoteStream" [local]="false" *ngIf="remoteStream" (click)="expandVideo('remote')" [ngClass]="{'shrinked-video':isSelectedVideo=='local','expanded-video':isSelectedVideo=='remote'}"></app-video>
     
    </div>
    <app-chat [hidden]="hideChat" [meetingRoomId]="offerRoomId || answerRoomId"  (closeChatWindow)="openCloseChatSideNav()">

    </app-chat>
  </div>

    <div class="meeting-create-join-parent-container rounded border border-primary" *ngIf="createJoinContainerVisible" [ngClass]="{'overlay-container':offerRoomId}">
      <div class="start-meeting-container">
        <button (click)="createNewMeeting()" *ngIf="!offerRoomId" type="button" class="btn btn-primary" [disabled]="createRoomLoader">
          {{createRoomButtonText}} <i class="bi bi-camera-video"  *ngIf="!createRoomLoader"></i>
          <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="createRoomLoader"></span>
          
        </button>
  
        <div *ngIf="offerRoomId">
          <p class="h5 d-inline room-invite-code">Invite Code:  {{offerRoomId}}</p>
          <i class="bi copy-button inline" [className]="copyIconClass" (click)="copyOfferRoomIdToClipBoard()"></i>
        </div>

  
      </div>

      <hr class="divider" *ngIf="!offerRoomId">
    
      <div class="join-meeting-container" *ngIf="!offerRoomId">
        <input [(ngModel)]="answerRoomId" class="form-control" placeholder="Enter Invite Code" (keydown.enter)="joinMeeting()">
  
        <button (click)="joinMeeting()" class="btn btn-info text-nowrap" [disabled]="answerRoomId.length==0">Join Meeting  <i class="bi bi-send-plus-fill"></i></button>  
      </div>
     
    </div>

    <div class="meeting-action-buttons" *ngIf="localStream || remoteStream">

      <i class="bi bi-camera-video-fill" *ngIf="isCameraOn" (click)="turnOffCamera()"></i>
      <i class="bi bi-camera-video-off-fill" *ngIf="!isCameraOn" (click)="turnOnCamera()"></i>
      <i class="bi bi-mic-fill" *ngIf="isMicOn" (click)="turnOffMic()"></i>
      <i class="bi bi-mic-mute-fill" *ngIf="!isMicOn" (click)="turnOnMic()"></i>
      <i class="bi bi-telephone-x-fill red-button" (click)="endMeeting()"></i>
      <i class="bi bi-arrow-up-square-fill" *ngIf="!isScreenSharing" (click)="turnOnShareScreen()"></i>
      <i class="bi bi-file-excel-fill red-button" style="transform: rotate(90deg);" *ngIf="isScreenSharing" (click)="turnOffShareScreen()"></i>

      <i class="bi bi-chat-left-dots-fill sidenav-open-button" *ngIf="chatEnabled" (click)="openCloseChatSideNav()"></i>
    </div>

    

    <img src="assets/image.png" class="meet-image" *ngIf="illustrationVisible">

    
    
  </div>